<h2 style="display:inline;" title="Project: <%=h @task.project.name %>"> <%=h @task.project.name %> </h2>
<%= link_to 'Return to project', @task.project %>

<!--% title @task.name %-->
<hr style="width:500px" />
<br />
<h1 style="display:inline;" title="Task: <%=h @task.name %>"> <%=h @task.name %> </h1>
<%= link_to 'Edit', edit_task_path(@task) %>




<p>
  <pre style="padding-left:25px"><%=h @task.description %></pre>
</p>




<p> </p><br />


<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.2.custom.css' %>
<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">

<%= javascript_include_tag 'jquery-ui-1.8.2.custom.min.js' %>
<%= javascript_include_tag 'comunication.js', 'cuco.js' %>
<script type="text/javascript">    j = jQuery;  </script>

<script type="text/javascript">
//<!--
var pomo = null;
var task_id = "<%= @task.id %>"

$(document).ready(function (){
	pomo = new Pomodoro( task_id, true );
})

// Pergunta antes de abandonar um pomodoro!
function goodbye(e) {
	if(pomo.status == 'trabalhando'){
		var msg = 'Deseja abandonar este Pomodoro?'
		
	  if(!e) e = window.event;
	  //e.cancelBubble is supported by IE - this will kill the bubbling process.
	  e.cancelBubble = true;
	  e.returnValue = msg; //This is displayed on the dialog
	
	  //e.stopPropagation works in Firefox.
	  if (e.stopPropagation) {
	    e.stopPropagation();
	    e.preventDefault();
	  }
	  return msg;
	}
}
window.onbeforeunload=goodbye;

//-->
</script>

<div id="task_tree" class="prepend-2 append-4">
</div>

<div id="pomodoro" class="prepend-2 append-4" >

  <h3 id="task_name">Cuco System™</h3>
  <input type="hidden" id="current_task_id"/>
  <!--hr-->
  <div class="cuco_button span-3"><input type="button" id="cuco_button" onclick="pomo.cuco_click()" /></div>
  <div id="cuco_balloon" class="cuco_balloon span-6 append-9 last"></div>
  <!--hr-->
  <!-- Progressbar -->
  <div id="progressbar" class="span-6 last"></div>
  <div id="timer" class="span-1 append-14 last"></div>
  
  <!--div class="span-9 append-9 last" id="to_do_list">
    <table>
      <thead>
        TO DO List!
      </thead>
      <tbody>
        <tr>
          <td>Column 1</td>
          <td>Column 2</td>
          <td>Column 3</td>
        </tr>
      </tbody>
    </table>
  </div-->
  
</div>

<div class="clear"></div>
<br />
<br />
<br />
<table id="pomo_table">
  <tr>
    <th><b>User</b></th>
    <th>Day</th>
    <th>Init Time</th>
	<th> </th>
    <th>End Time</th>
    <th>Comment</th>
	<th> </th>
  </tr>
  <% for pomodoro in @task.pomodoros(:order => 'created_at ASC') %>
    <tr>
      <td><b><%=h pomodoro.user.username %></b></td>
	  <td><%=h pomodoro.init_time.strftime('%a') %></td>
      <td><%=h pomodoro.init_time.strftime('%H:%M') %> </td>
	  <td> .. </td>
      <td><%=h pomodoro.end_time.strftime(' %H:%M') %></td>
      <td class="pomo_comment"><%=h pomodoro.comment %></td>
      <!--td><%= link_to "Show", pomodoro %></td>
      <td><%= link_to "Edit", edit_pomodoro_path(pomodoro) %></td-->
      <td><%= link_to "Deny", pomodoro, :confirm => 'You want to cancel this pomo for sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
