<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>

<p>
  <b>Task name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', @task.project %>

<p> </p><br />

<span>CUCO APP HERE!</span>