<h1>All projects</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to (h project.name), project %></td>
    <!--td><%= link_to '| Go to project |', project %></td-->
	<td><%= link_to 'Gráfico de trabalho', url_for( :controller => 'projects', :action => 'full_graph', :id => project.id) %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= project.count_pomos %>/
	<% count = 0 %>
	<% project.tasks.each do |t| %>
		<% count += t.expected_pomo %>
	<% end %>
	<%= count %>	
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>