<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- <title><%= h(yield(:title) || "Untitled") %></title> -->
	<title> <%= controller.controller_name.capitalize %> :: Cuco - A pomodoro time tracker</title>
	
  <!--%= stylesheet_link_tag 'application', 'horinaja.css' %-->
  <%= stylesheet_link_tag 'style', 'horinaja.css' %>
	
	
	<%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery.mousewheel.min.js', 'class.horinaja.jquery.js' %>
	<%= javascript_include_tag 'comunication.js' %>
	<script type="text/javascript">
		// jQuery.noConflict();
		j = jQuery;
	</script>
	
    <%= yield(:head) %> <!-- ? -->
  </head>
  <body class="container" style="padding-left:80px">
  	
	<div id="masternav">
		<% if current_user %>
		  <!--span id="cuco-launch" class="item"> <a href="javascript:newwindow=window.open('/app/cuco','','resizable=1,toolbar=0,location=0,status=0,menubar=0,scrollbars=1,width=550,height=450');newwindow.focus();">LAUNCH!</a> </span> |-->
			<span class="item"> <a href="/">Home</a> </span> |   
			<span class="item autolink"> Projects </span> |  
			<!--span class="item autolink"> Tasks </span> | -->
			<span class="item autolink"> Pomodoros </span> | 
			<span class="item"> 
				<%= link_to "Log Out", logout_url %>
		<% else %>
				<%= link_to "Log In", login_url %> or 
				<%= link_to "Create an Account", signup_url %>
		<% end %>
			</span>
	</div>
	
	<script type="text/javascript">
		// Turns the autolinks from the |masternav| into real links
		var itens = document.getElementById("masternav").children
		for (var i=0; i<itens.length; i++) {
			if(itens[i].getAttribute('class').match( /autolink/ )){
				var content = itens[i].innerHTML.replace(" ", "")
				itens[i].innerHTML = "<a href='/" + content.toLowerCase() + "'> "+content+" </a> "
			}
		};
	</script>
	
	
    <div id="container">
		
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end -%>
      
      <% if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <% end -%>
      
      <%= yield %>
	  
    </div>
	
  </body>
</html>
